
<div class="row">

    <div class="contenedorLogin p-3 px-3">

        <!-- formulario login -->
        <form class="mt-4" (ngSubmit)="validarLogin(loginForm)" #loginForm="ngForm">
            <div class="mb-3">
              <label for="correo" class="form-label">Correo Electronico:</label>
              <input type="email" class="form-control" id="correo" name="correo" ngModel>
              <div id="emailHelp" class="form-text">Correo previamente registrado.</div>
            </div>
            <div class="mb-3">
              <label for="clave" class="form-label">Contraseña:</label>
              <input type="text" class="form-control" id="clave" name="clave" ngModel>
            </div>

            <div class="d-grid gap-2 col-6 mx-auto">
                <button type="submit" class="btn btn-primary">Entrar</button>  
            </div>
            
        </form>
        <!-- formulario login -->

    </div>

</div>
