
<div class="row">

    <div class="card text-center">

        <div class="card-header d-flex justify-content-end">
            <a href="#" class="btn btn-danger">Cerrar Secion</a>
        </div>

        <div class="card-body">
            <h5 class="card-title"> <span>{{nombre}}</span> Aca puedes generar tu QR</h5>
            <p class="card-text">Ponle el QR a todos tus peludos para identificarte como dueño</p>
            <div class="d-grid gap-2 col-8 mx-auto m-4">
            <a (click)="iraQr()" class="btn btn-primary">Generar QR</a> 
            </div>
        </div>

        <div class="card-footer text-muted">
          Desarrollador por, Alexander Duque.
        </div>

    </div>
    


</div>