


<div class="row pt-3">

    <div class="d-none d-sm-block col-sm-4 d-flex justify-content-center">

        <img src="../../../assets/img/gato.jpg" class="img-fluid" alt="...">

    </div>

    <div class="col-12 d-sm-block col-sm-4  d-flex justify-content-center">
        
        <img src="../../../assets/img/perro.jpg" class="img-fluid" alt="...">

    </div>

    <div class="d-none d-sm-block col-sm-4 d-flex justify-content-center">
        
        <img src="../../../assets/img/perro2.jpg" class="img-fluid" alt="...">

    </div>

</div>

<div class="row">

    <div class="col">
        
        <div>
            <p class="fs-5 font-monospace">
                Ayuda a que tu perro o gato, regrese a casa con esta aplicacion totalmente gratuita.
            </p>

            <!-- Card -->
            <div class="card">
                <div class="card-header">
                  Identificame
                </div>
                <div class="card-body">
                    <p class="fs-5 badge bg-primary text-wrap font-monospace">
                        Instrucciones:
                    </p>
        
                    <p class="fs-5 font-monospace">
                        <span class="badge bg-primary text-wrap">1:</span>
                        Registrate
                    </p>
        
                    <p class="fs-5 font-monospace">
                        <span class="badge bg-primary text-wrap">2:</span>
                        Ingresa
                    </p>
        
                    <p class="fs-5 font-monospace">
                        <span class="badge bg-primary text-wrap">3:</span>
                        Presiona en Generar Mi Qr.
                    </p>
        
                    <p class="fs-5 font-monospace">
                        <span class="badge bg-primary text-wrap">4:</span>
                        Guarda este QR, puedes ahora obtener un collar personalizado para tu peludo de este QR,
                        y cuando lo scannes podras ir a los datos del propietario.
                    </p>
                    <p class="fw-lighter">Brahamn Alexander Duque Guzman, Desarrollador.</p>
                </div>
            </div>
            <!-- Card -->

            <div class="d-grid gap-2 d-md-flex justify-content-center mt-3">
                <button (click)="iraRegistro()" type="button" class="btn btn-primary btn-lg">Registrarse</button>
                <button (click)="iraLogin()" type="button" class="btn btn-success btn-lg">Entrar</button>
            </div>

            

            <div class="card mt-5 mb-2 bg-info">
                <div class="card-body">
                  Realizo y sostengo este proyecto con recursos propios, tu aporte nos ayudaria muchisimo!
                </div>
            </div>

        </div>

    </div>

</div>