
<div class="row">

   <div>
        <div class="card mx-3 mt-2">
            <div class="card-header">
            Mi QR
            </div>
            <div class="card-body">
            <blockquote class="blockquote mb-0">
                <ngx-qrcode 
                [elementType]="elementType" 
                [value]="value"
                cssClass="qrClas">
                </ngx-qrcode>
                <footer class="blockquote-footer my-2">Manten presionado el dedo sobre la imagen y selecciona guardar.</footer>
            </blockquote>
            </div>
        </div>
   </div>
   

</div>